/* Home */
#homepage_1img{
    background-image: url(web_photos/bcs-3.jpg); background-position: center;
    background-size: cover;
    background-repeat: none; min-height: 350px;
}
#homepage_2img{
    background-image: url(/web_photos/sneakers-2.png); background-position: center;
            background-size: cover;
            background-repeat: none; min-height: 350px; max-width: 400px;
}
#homepage_3img{
    background-image: url(/web_photos/lpz-1.jpeg); background-position: top;
    background-size: cover;
    background-repeat: none; min-height: 350px; max-width: 740px;
}
#homepage_3img >a >h1{
    color:darkblue; margin: 160px;
}
#homepage_4img{
    background-image: url(/web_photos/surf-locos-2.jpg); background-position: center;
            background-size: cover;
            background-repeat: none; min-height: 350px; max-width: 740px;
}
#homepage_5img{
    background-image: url(/web_photos/surf-locos-1.jpg); background-position: center;
            background-size: cover;
            background-repeat: none; min-height: 350px; max-width: 400px;
}
/* Fin Home */
/* Product */
#b_añadir_articulo{
    color:white;
    background-color: rgb(37, 60, 72);
    border-color:rgb(37, 60, 72);
}

#button_buy_now{
    color:rgb(37, 60, 72);
}

img{
    width: 100%
}
/* Fin Product */

/* About us */
[name = about_us_1_s]{
    background-color: lightslategrey;
            background-repeat: none; min-height: 350px; max-width: 400px;
}
[name = about_us_2_s]{
    background-color: grey; min-height: 350px; max-width: 740px; color: white; text-align: justify;
    font-size:x-large; 
}
[name = about_us_3_s]{
    background-image: url(/web_photos/surf-locos-2.jpg); background-position: center;
    background-size: cover;
    background-repeat: none; min-height: 350px; max-width: 740px;
}
[name = about_us_4_s]{
    background-image: url(/web_photos/lpz-3.jpeg); background-position: center;
            background-size: cover;
            background-repeat: none;
            min-height: 350px
}
/* Fin About us */

/* Nav bar */
#nav_icons>a>i{
    color:white;
}

#nav-bar-logo{
    font-size: 32px;
}

#search_nav_bar>a>i{
    color:lightslategrey;
}
/* Fin Nav bar */
/* Página de carro de compras */
#ca_de_compra_heading{
    text-align: center;
}
.product-d-cart{
    font-size: large;
    color:rgb(37, 60, 72);
}
.product-q-cart{
    font-size: large;
    color:rgb(37, 60, 72);
    text-decoration: underline;
}
#total_c, #precio_c{
    margin-top: 60px;
    font-size: large;
    color:rgb(37, 60, 72);
}
#cantidad_c{
    margin-top: 60px;
    max-width: 70px;
}
#subtotal{
    text-align: right;
    padding-right: 10px;
    font-size: large;
    color:rgb(37, 60, 72);
}
#finalizar_pedido{
    text-align: right;
}
/* Fin Página de carro de compras */
